<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ጣይቱ ምግብ ቤት</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header class="header">
        ጣይቱ ምግብ ቤት
    </header>

    <hr>

    <!-- Foods -->
    <section>
        <div class="food-header-container">
            <h2 class="food-header">Foods</h2>
        </div>

        <main id="food-menu"></main>
    </section>


    <!-- Drinks -->
    <section>
        <div class="food-header-container">
            <h2 class="drinks-header">Drinks</h2>
        </div>

        <main id="drink-menu"></main>
    </section>


    <!-- Order Summary -->
    <section id="order-summary">

        <h2>Order Summary</h2>

        <label for="customer-name">
            Your name
        </label>

        <input
            type="text"
            id="customer-name"
            placeholder="Enter your name"
        >

        <ul id="selected-items-list">
            <li class="summary-item">
                no orders yet.
            </li>
        </ul>

        <h3>
            Total:
            <span id="order-total">0</span>
            birr
        </h3>

        <button id="checkout-btn">
            Confirm Order & Checkout
        </button>

    </section>


    <!-- Notification -->
    <div id="notification" class="notification">
        Item Added Successfully!
    </div>


    <footer class="footer">
        <hr>
        <p>@tayitu migib bet. All rights reserved.</p>
    </footer>


    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>